﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Sol_EnableViewState_Dynamic.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

             <asp:Label id="lblName1" runat="server"></asp:Label><br>
           <asp:Label id="lblName2" runat="server" ></asp:Label><br>
           <asp:Label id="lblName3" runat="server" ></asp:Label><br>

          
            <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click"  /><br>
        </div>
    </form>
</body>
</html>
